html{
	
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
}

body{
	margin: 0;
	font-family: Arial;
}

#container{
	margin: 0 1rem 0 1rem;
}

#tab_select{
	display: flex;
	justify-content: center;
}

#tab_select div{
	width: 100%;
	text-align: center;
}

#tab_select div:nth-child(1){
}

#tab_select div:nth-child(2){
}

#body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#search{
	width: 100%;
	display: flex;
}

#pokemonsearch{
	flex: 1;
}

#list{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

#list > .pokemon{
	margin: 1rem;
	margin-top: 0;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

#list > .pokemon:active{
	background-color: #bbb;
}

#list > .pokemon > img{
	width: 5rem;
	height: 5rem;
}

#detail{
	display: flex;
	flex-direction: column;
}

#detail::nth-child(1){
	display: flex;
}