html{
	user-select:none;
	-moz-user-select:none;
	-webkit-user-select:none;
	-webkit-touch-callout:none;
}

body{
	margin: 0;
	font-family: Arial;
	color: #fff;
	background: linear-gradient(#5096ff, #0066ff)
}

#container{
	padding: 0 1rem 0 1rem;
}

#tab_select{
	display: flex;
	justify-content: center;
}

#tab_select div{
	width: 100%;
	text-align: center;
}

#body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#search{
	width: 100%;
	display: flex;
}

#pokemonsearch{
	flex: 1;
}

#list{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.pokemon{
	background: linear-gradient(155deg, #fff 40%, #aaa 95%);
	color: black;
	border-radius: 1.25rem 0.625rem;
	padding: 0.3125rem;
	margin: 0.3125rem;
	margin-top: 0rem;
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.pokemon:active{
	background: linear-gradient(155deg, #aaa 40%, #fff 95%);
}

.pokemon > img{
	width: 7rem;
	height: 7rem;
}

#detail{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 1rem;
}

#topcontainer{
	display: flex;
	justify-content: center;
}

#topcontainer :nth-child(1){
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#topcontainer :nth-child(1) > div:nth-child(1) > img{
	width: 2.5rem;
	height: 2.5rem;
}

#topcontainer :nth-child(1) > div:nth-child(2){
	display: flex;
	flex-direction: column;
}

#topcontainer :nth-child(1) > div:nth-child(2) > img{
	margin-bottom: 0.3125rem;
	width: 2.5rem;
	height: 2.5rem;
}

#topcontainer :nth-child(2){
	width: 100%;
	display: flex;
	justify-content: center;
}

#topcontainer :nth-child(3){
	width: 2.5rem;
}

#midcontainer{
	text-align: center;
}

#midcontainer > span{
	font-size: 1.5rem;
}

#bottomcontainer{
	display: flex;
	flex-direction: column;
}

#tab{
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0.625rem 0rem 0.625rem 0rem;
	border-radius: 0.625rem;
	height: 3rem;
}

.pr{
	background: radial-gradient(circle at 25% -200%, #fff 55%, #4690ff 80%);
}

.ar{
	background: radial-gradient(circle at 75% -200%, #fff 55%, #4690ff 80%);
}

.pr > div:first-child{
	background-color: white;
	transition: background 0.5s ease-in-out;
}

.pr > div:last-child{
	transition: background-color 0.5s ease-in-out;
}

.ar > div:first-child{
	transition: background-color 0.5s ease-in-out;
}

.ar > div:last-child{
	background-color: white;
	transition: background-color 0.5s ease-in-out;
}

#tab div{
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.625rem;
}

#attacks{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#attacks > div{
	background: linear-gradient(179deg, #fff 40%, #aaa 95%);
	color: black;
	border-radius: 2.3125rem 1rem;
	width: 95%;
	display: flex;
	justify-content: space-between;
	padding: 0.625rem;
	margin-bottom: 0.5rem;
}

#attacks > div > div{
	display: flex;
	flex-direction: column;
}

#attacks > div > div:last-child{
	text-align: right;
}

#attacks > div > div:last-child > span:last-child{
	font-weight: bold;
}

#attacks > div > div > div{
	display: flex;
	align-items: center;
	text-align: left;
	margin-bottom: 1rem;
}

#attacks > div > div > div > img{
	width: 2.5rem;
	margin-right: 0.3125rem;
}

#attacks > div > div > div > span > span{
	color: #aaa;
	text-decoration: underline;
}