body{
	margin: 0;
	font-family: Arial;
}

#tab_select{
	display: flex;
	justify-content: center;
	border: 2px solid black;
}

#tab_select div{
	width: 100%;
	text-align: center;
}

#tab_select div:nth-child(1){
	border: 2px solid red;
}

#tab_select div:nth-child(2){
	border: 2px solid green;
}

#body{
	display: flex;
	flex-direction: column;
	align-items: center;
	border: 2px solid blue;
}

.search{
	width: 100%;
}

#list{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

#list > .pokemon{
	display: flex;
	flex-direction: column;
	align-items: center;
}